In [302]:
#Gọi thư viện
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [304]:
#Đọc dữ liệu
data = pd.read_excel(r"C:\Users\PC\Documents\Khai phá dữ liệu\Data_Patient_Heart_Attack.xlsx")
#Hiển thị thông tin dữ liệu
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              302 non-null    object
 1   Age             302 non-null    int64
 2   Gender          302 non-null    object
 3   Type            297 non-null    object
 4   Blood_pressure  302 non-null    int64
 5   Cholesterol     302 non-null    int64
 6   Heartbeat       302 non-null    int64
 7   Thalassemia     302 non-null    object
 8   Result          302 non-null    object
dtypes: int64(4), object(5)
memory usage: 21.4+ KB

In [306]:
#Hiển thị dữ liệu
data.head()

,id,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
0,Patient_01,63,Male,Typical angina,145,233,150,6,No
1,Patient_02,67,Male,Asymptomatic,160,286,108,Three,Yes
2,Patient_03,67,Male,Asymptomatic,120,229,129,7,Yes
3,Patient_04,37,Male,Non-anginal pain,130,250,187,Three,No
4,Patient_05,41,F,Atypical angina,130,204,172,6,No

In [308]:
#Quan sát dữ liệu số
data.describe()

              Age  Blood_pressure  Cholesterol   Heartbeat
count  302.000000      302.000000   302.000000  302.000000
mean    56.582781      131.642384   246.844371  148.870861
std     38.773361       17.632025    51.736737   24.386694
min     29.000000       94.000000   126.000000    0.000000
25%     48.000000      120.000000   211.250000  132.250000
50%     55.500000      130.000000   241.500000  152.000000
75%     61.000000      140.000000   275.000000  165.000000
max    710.000000      200.000000   564.000000  202.000000

In [310]:
#Quan sát dữ liệu object
data.describe(include='O')

                id Gender          Type Thalassemia Result
count          302    302           297         302    302
unique         292      4             4           3      2
top     Patient_60   Male  Asymptomatic       Three     No
freq             3    205           139         160    164

In [312]:
#Kiểm tra dữ liệu trùng lặp
data.duplicated().sum()

2

**NHẬN XÉT:** Các vấn đề cần xử lý
- Xử lý dữ liệu trùng lặp
- Xử lý dữ liệu ngoại lai (Thuộc tính Age)
- Xử lý dữ liệu missing 
- Chuẩn hóa dữ liệu cột Gender

# 1. Xử lý dữ liệu trùng lặp

In [324]:
#Lọc các bản ghi trùng lặp
data[data.duplicated(keep=False)]

,id,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
59,Patient_60,51,Male,Typical angina,125,213,125,Three,No
60,Patient_60,51,Male,Typical angina,125,213,125,Three,No
61,Patient_60,51,Male,Typical angina,125,213,125,Three,No

In [326]:
#Xóa các bản ghi trùng lặp
data.drop_duplicates(keep='first',inplace=True)

In [328]:
#Kiểm tra lại
data.duplicated().sum()

0

In [332]:
#Kiểm tra dựa trên ID
data[data['id'].duplicated(keep=False)]

,id,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
10,Patient_110,57,Male,Asymptomatic,140,192,148,6,No
11,Patient_120,56,Female,Atypical angina,140,294,153,Three,No
12,Patient_130,56,Male,Non-anginal pain,130,256,142,6,Yes
13,Patient_140,44,Male,Atypical angina,120,263,173,7,No
14,Patient_150,52,Male,Non-anginal pain,172,199,162,7,No
16,Patient_170,48,Male,Atypical angina,110,229,168,7,Yes
17,Patient_180,54,Male,Asymptomatic,140,239,160,Three,No
19,Patient_200,49,Male,Atypical angina,130,266,171,Three,No
111,Patient_110,61,Female,Asymptomatic,145,307,146,7,Yes
121,Patient_120,48,Male,Asymptomatic,130,256,150,7,Yes
131,Patient_130,54,Male,Non-anginal pain,120,258,147,7,No
141,Patient_140,59,Male,Atypical angina,140,221,164,Three,No
151,Patient_150,52,Male,Typical angina,152,298,178,7,No
171,Patient_170,70,Male,Non-anginal pain,160,269,112,7,Yes
181,Patient_180,48,Male,Asymptomatic,124,274,166,7,Yes
201,Patient_200,50,Female,Asymptomatic,110,254,159,Three,No

In [336]:
data.loc[10,'id'] = 'Patient_11'
data.loc[11,'id'] = 'Patient_12'
data.loc[12,'id'] = 'Patient_13'
data.loc[13,'id'] = 'Patient_14'
data.loc[14,'id'] = 'Patient_15'
data.loc[16,'id'] = 'Patient_17'
data.loc[17,'id'] = 'Patient_18'
data.loc[19,'id'] = 'Patient_20'
data.loc[10,'id'] = 'Patient_11'

In [338]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 0 to 301
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              300 non-null    object
 1   Age             300 non-null    int64
 2   Gender          300 non-null    object
 3   Type            295 non-null    object
 4   Blood_pressure  300 non-null    int64
 5   Cholesterol     300 non-null    int64
 6   Heartbeat       300 non-null    int64
 7   Thalassemia     300 non-null    object
 8   Result          300 non-null    object
dtypes: int64(4), object(5)
memory usage: 31.5+ KB

# 2. Xử lý dữ liệu ngoại lai

In [342]:
#Lọc các bệnh nhân có dữ liệu tuổi bất thường
data[data['Age']>=115]

,id,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
42,Patient_43,710,Female,Atypical angina,160,302,162,Three,No

In [344]:
#Có thể trong quá trình nhập đã bị nhập thừa 1 số 0 --> xử lý: thay thế 710 bằng 71
data.loc[42,'Age'] = 71

In [346]:
#Kiểm tra lại
data[data['id']=='Patient_43']

,id,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
42,Patient_43,71,Female,Atypical angina,160,302,162,Three,No

# 3. Xử lý dữ liệu missing

In [349]:
#Liệt kê các bản ghi bị thiếu 
data.isnull().sum()

id                0
Age               0
Gender            0
Type              5
Blood_pressure    0
Cholesterol       0
Heartbeat         0
Thalassemia       0
Result            0
dtype: int64

In [351]:
#Thống kê giá trị của thuộc tính Type
data['Type'].value_counts()

Type
Asymptomatic        139
Non-anginal pain     84
Atypical angina      49
Typical angina       23
Name: count, dtype: int64

In [353]:
#Liệt kê các dòng dữ liệu chứa missing của thuộc tính Type
data.loc[data[['Type']].isnull().any(axis=1)]

,id,Age,Gender,Type,Blood_pressure,Cholesterol,Heartbeat,Thalassemia,Result
207,Patient_206,58,Male,NaN,128,259,130,7,Yes
220,Patient_219,59,Male,NaN,138,271,182,Three,No
252,Patient_251,58,Male,NaN,146,218,105,7,Yes
272,Patient_271,66,Male,NaN,160,228,138,6,No
294,Patient_293,63,Male,NaN,140,187,144,7,Yes

Nhận xét: Thuộc tính Type có giá trị Asymptomatic được lặp lại nhiều nhất --> thay thế các giá tri bị thiếu bằng Asymptomatic

In [356]:
data['Type'].fillna('Asymptomatic', inplace=True)

In [358]:
#Kiểm tra lại
data.isnull().sum()

id                0
Age               0
Gender            0
Type              0
Blood_pressure    0
Cholesterol       0
Heartbeat         0
Thalassemia       0
Result            0
dtype: int64

# 4. Chuẩn hóa dữ liệu

In [361]:
#Thống kê thuộc tính Gender
data['Gender'].value_counts()

Gender
Male      203
Female     93
F           2
M           2
Name: count, dtype: int64

In [363]:
#Xử lý: Thay thế F = Female, M = Male
data.loc[data['Gender']=='M','Gender'] = 'Male'
data.loc[data['Gender']=='F', 'Gender'] = 'Female'

In [365]:
#Kiểm tra lại
data['Gender'].value_counts()

Gender
Male      205
Female     95
Name: count, dtype: int64

In [367]:
#Thống kê thuộc tính Thalassemia
data['Thalassemia'].value_counts()

Thalassemia
Three    158
7        117
6         25
Name: count, dtype: int64

In [369]:
#Xử lý: Thay thế Three bằng 3
data.loc[data['Thalassemia']=='Three','Thalassemia'] = 3

In [371]:
#Kiểm tra lại
data['Thalassemia'].value_counts()

Thalassemia
3    158
7    117
6     25
Name: count, dtype: int64

# Quan sát lại dữ liệu sau khi đã xử lý

In [374]:
data.describe()

              Age  Blood_pressure  Cholesterol   Heartbeat
count  300.000000      300.000000   300.000000  300.000000
mean    54.490000      131.686667   247.070000  149.030000
std      9.032267       17.682498    51.835136   24.389587
min     29.000000       94.000000   126.000000    0.000000
25%     48.000000      120.000000   211.000000  133.000000
50%     56.000000      130.000000   242.500000  152.000000
75%     61.000000      140.000000   275.250000  165.250000
max     77.000000      200.000000   564.000000  202.000000

In [376]:
data.describe(include='O')

                id Gender          Type  Thalassemia Result
count          300    300           300          300    300
unique         300      2             4            3      2
top     Patient_01   Male  Asymptomatic            3     No
freq             1    205           144          158    162

# Lưu ra file .excel(xlsx)

In [381]:
data.to_excel('Data_Patient_Heart_Attack_OK.xlsx', index=None)